<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceSettings" type="LogForwardService.Service.Config.Section.ServiceSettings, LogForwardService"/>
  </configSections>
  <ServiceSettings>
    <ListeningSettings ServiceName="LogListeningServiceCustomName" ServiceListenIPAddress="127.0.0.1" ServiceListenPort="27000" BufferBytes="2048"/>
  </ServiceSettings>
</configuration>