<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="E:\Programming Stuff\LogReader\LogReader\LogForwardService\bin\Debug\netcoreapp2.2\win-x64\logforwardservice_logfile.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value ="500mb"/>
    <maxSizeRollBackups value="5" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="----------------- LOGFORWARDSERVICE STARTED -----------------" />
      <conversionPattern value="%newline%date [%thread] %level %logger - %message" />
    </layout>
  </appender>
</log4net>